<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>openapi.seoul.go.kr</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Medium</string>
		<string>Pretendard-Bold</string>
		<string>Pretendard-SemiBold</string>
		<string>NotoSansCJKkr-Bold</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>웽웽은 이미지 저장을 선택하신 사용자들의 사진을 저장하기 위해서만 앨범에 접근합니다.
앨범에 저장하신 사진을 자유롭게 사용해 보세요.</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-7356550203877926~2310172170</string>
	<key>GADIsAdManagerApp</key>
	<true/>
</dict>
</plist>
